[submodule "xmarts/add_tariff_stock_landed_cost"]
	path = xmarts/add_tariff_stock_landed_cost
	url = git@github.com:xmarts/add_tariff_stock_landed_cost.git
	branch = master
[submodule "Reprotes_Avantec"]
	path = Reprotes_Avantec
	url = https://github.com/xmarts/Reprotes_Avantec.git

[submodule "xmarts/no_purchase_rule"]
	path = xmarts/no_purchase_rule
	url = git@github.com:xmarts/no_purchase_rule.git
	branch = master
[submodule "avantec_inherit_to_invoice"]
	path = avantec_inherit_to_invoice
	url = git@gitlab.com:xmarts/avantec_inherit_to_invoice.git
