[submodule "xmarts/add_tariff_stock_landed_cost"]
	path = xmarts/add_tariff_stock_landed_cost
	url = git@github.com:xmarts/add_tariff_stock_landed_cost.git
	branch = master
[submodule "Reprotes_Avantec"]
	path = Reprotes_Avantec
	url = https://github.com/xmarts/Reprotes_Avantec.git
